@font-face {
    font-family: "Bungee";
    src: url("Bungee-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Rubik";
    src: url("Rubik-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

:root {
    /* Primary color */
    --primary-color-lightest: #3fe0ff;
    --primary-color-lighter:  #1bbcff;
    --primary-color-light:    #058bff;
    --primary-color:          #036bfc;
    --primary-color-dark:     #024fc2;
    --primary-color-darker:   #012f7a;
    --primary-color-darkest:  #011733;

    /* Secondary color */
    --secondary-color-lightest: #ff6bff;
    --secondary-color-lighter:  #ff3df2;
    --secondary-color-light:    #e91cff;
    --secondary-color:          #c300ff;
    --secondary-color-dark:     #8e00c9;
    --secondary-color-darker:   #5a007d;
    --secondary-color-darkest:  #2d003f;

    /* Neutral color */
    --neutral-color-ultralight: #fafbfc;
    --neutral-color-lightest:   #cfd6e4;
    --neutral-color-lighter:    #9aa6bf;
    --neutral-color-light:      #6b7690;
    --neutral-color:            #3b4356;
    --neutral-color-dark:       #262c3a;
    --neutral-color-darker:     #171b25;
    --neutral-color-darkest:    #0d1017;

    /* Border */
    --border-radius: 16px;
}

/* Neon theme. Mouse is a flashlight */

body {
    margin: 0;
    background-color: var(--neutral-color-darker);
    color: var(--neutral-color-ultralight);
    font-family: Rubik, sans-serif;
}

h1, h2, h3 {
    margin-top: 0;
}

p {
    margin-block: 8px 16px;
}
















/****************   Nav Section **********************/
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 16px 24px;
    gap: 16px;

    color: var(--primary-color-lightest);


    background: linear-gradient(to bottom, var(--neutral-color-darker), var(--neutral-color-dark));
    border-bottom: 2px solid var(--neutral-color-light);
}

nav a {
    width: 65px;
    padding: 16px 24px;

    color: var(--neutral-color-ultralight);
    background: linear-gradient(
            to bottom,
            var(--secondary-color-lightest),
            var(--secondary-color)
    );
    border: 1px solid var(--secondary-color-darker);
    border-radius: var(--border-radius);
    box-shadow:
        0 1px 0 rgba(255, 255, 255, 0.35) inset,
        0 -1px 0 rgba(0, 0, 0, 0.15) inset,
        0 3px 6px rgba(0, 0, 0, 0.25);

    cursor: pointer;
    text-decoration: none;
    text-align: center;
}

nav a:hover {
    color: white;
}





/*********** Splash Page ************************/




header {
    padding: 48px;
    background: var(--neutral-color-dark);






}

header .hero {
    display: flex;
    justify-content: space-between;
    align-items: center;

    max-width: 800px;
    margin: 0 auto;
    gap: 8px;

    text-align: right;
}

header .hero h1 {
    color: var(--primary-color-lightest);
    font-size: 48px;
    margin-bottom: 16px;
    font-family: Bungee, sans-serif;
    text-shadow: 4px 4px 0 rgba(19, 34, 80, 0.1);
}

header .hero .tagline {
    color: #475569;
}

header .hero img {
    margin-block: 16px;
    border-radius: 16px;
    border: 5px solid #1e3a8a;
    box-shadow: 48px 18px 0 rgba(19, 34, 80, 0.1);

    perspective: 200px;
    transform: rotateX(20deg) rotateY(-20deg);
    transform-style: preserve-3d;
}

header .address {
    color: #475569;
    text-align: center;
}

header hr {
    max-width: 400px;
    margin: 48px auto;
    border-style: ridge;
}








/***********************  Footer Section   **************************/
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    
    padding-inline: 24px;
    padding-block: 16px;
    gap: 16px;

    color: white;
    background-color: #1e3a8a;
    border-top: 1px solid #1e40af;
}

footer a {
    color: #c7d2fe;
}

footer a:hover {
    color: white;
}




/************* Sections ********************/
hr {
    max-width: 1200px;
    border: none;
    border-top: 1px solid #1e3a8a;
}

section {
    max-width: 1100px;
    margin: 48px auto;
    padding-inline: 16px;
}

section h2 {
    font-family: Bungee, sans-serif;
    color: #1e3a8a;
}

section h3 {
    font-family: Bungee, sans-serif;
    color: #312e81;
}

section dl {
    display: grid;
    list-style: disc;
    margin-top: 12px;
}

section ul {
    margin-top: 12px;
}

section li {
    margin-bottom: 8px;
}

section dd {
    margin-bottom: 12px;
}

section a {
    color: #4f46e5;
    text-decoration: none;
}

section a:hover {
    text-decoration: underline;
}

/**************   Projects   *****************/
.three-col {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}

.card img {
    width: 100%;
    margin-block: 12px;
    border-radius: 16px;
}

.card {
    padding: 16px;
    background-color: #ffffff;
    border: 1px solid #cbd5e1;
    border-radius: 16px;
}

.card h3 {
    margin-bottom: 12px;
    color: #1e3a8a;
    text-align: center;
}

.card ul {
    margin-top: 12px;
    padding-left: 20px;
}

/**************   Responsiveness   *****************/
@media (max-width: 680px) {
    nav {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .three-col {
        grid-template-columns: 1fr;
    }
}

/**************   Contact Page   *****************/
.one-col {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
}

label {
    margin-top: 8px;
}

input {
    padding: 12px;
    border: 1px solid #105aa4;
    border-radius: 8px;
    font: inherit;
}

textarea {
    min-height: 120px;
    padding: 12px;
    border: 1px solid #cbd5e1;
    background-color: #ffffff;
    color: #0f172a;
}
